*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
   
}
body{
    overflow-x: hidden;
    width: 100%;
}

#HeaderPart{
    position: sticky;
    z-index: 2;
    top: 0;
}

#topmenu {
    position: sticky;
    top: 0px;
    background-color: lightpink;
    z-index: 1000;
    padding: 8px;
    text-align: right;
}

#icon {
    align-content: end;
    margin: 10px;

}
#Footer {

    background-color: #88a3b1;
    color: white;
    padding: 10px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-family: 'Barlow', sans-serif;

}

#Footer div {
    padding: 40px;
}

#Home2 img{
  width: 100%;
  padding-top: 10px;

}

hr {
    border: 100px solid black;
    order: 2px solid white;
    height: 100px;
    width: 0;
    margin: 0 10px;
}

#Home3 {
    background-color: rgb(230, 241, 247);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 10px;
}

#Home3>div {
    padding: 10px;

}

#Home3 img {
    max-width: 150px;
    border-radius: 2%;
}

#Home3 p{
    margin-top: 20px;
    font-size: larger;
}

#home4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;

}

#home4 .d1 {
    width: 100%;
    text-align: center;
}

#home4 h2 {
    font-family: 'Arial', sans-serif;
    
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin: 20px 0;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}
/* ==================================================== */

#sellingPage {
    display: grid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.hover-animation {
    width: '18rem';
    position: relative;

}

.hover-animation img {
    width: '18rem';
    height: 250px;
    justify-content: center;
    align-items: center;
}


.img-back {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.8s ease;
    justify-content: center;
    align-items: center;


}

.img-back:hover {
    opacity: 1;
}

#gift1{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* ================================ */
#adminHeader
{
    height: 100px;
    background-color: lightblue;
}

#adminData
{
    display: flex;
    justify-content: space-between;
}
#adminMenu
{
    width: 20%;
    background-color: black;
    color: white;

}
#adminContent
{
    padding-left: 30px;
    width:80%
}

.menucolor
{
    color: whitesmoke;
}

#CardSection{
     background-color:  rgb(245, 206, 212);
     margin-bottom: 20px;
}
#NewArival{
    text-align: center;
    background-color: white;
    padding: 30px;
    font-style: arial;
}

#CardSection div{
margin-top: 10px;
margin-bottom: 10px;
}
#CardCloudImg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* ==================================== */
#collection1 img{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
#collection2{
    display: flex;
    justify-content:space-around;
    text-align: center;
    flex-wrap: wrap;
}
#collection2 button{
    padding: 7px;
    border-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

#collection2 button:hover{
    cursor: pointer;
    padding: 10px;
    background-color: black;
    color: white;
}
#collection2 h2{
    margin-top: 20px;
    font-style:arial;
}
#collection3{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#collection3 img{
    height: 500px;

}
/* ========================= */
#gift2{
    text-align: center;
    
}
#gift3{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}
#gift3 Button:hover{
    background-color: #88a3b1;
    color:#333;
}

#selans{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    
}

/* ============================== */
#search input{
    margin: 30px;
    padding: 10px;
    width: 80%;
}
/* ============================================= */
#proDetail{
    display:flex;
    gap: 20px;
    padding: 20px;
    background: linear-gradient(to right, #f9f9f9, #e0eafc);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#proDetail img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }

#proImage{

}
